
body{
	margin:0;
	padding:0;
}
.banner{
     background: url(../images/foret.jpg) center no-repeat;
     height: 500px;
     width: 100%;
      color: #FFF;
      padding-top: 100px; 

     span{
     	display: block;
     	margin-left: 50%;
     	width: 100px;
     	padding: 30px;
     	background: #999;

     }

     h1, h5{
     	text-align: center
     }

}