nav 
{
  ul{
  	position:absolute;
  	top:0;
  	right:0;
  	margin-right:150px;
	li{
		float:left;
		display:block;
		color:gray;
		margin-right:15px;
        text-align:right;
        a{
        	text-decoration:none;
        	color:yellow;
        }
        a:hover{
        	text-decoration:none;
        	color:gray;
        	background:yellow;
        }
	}
  }
}